<ion-content>
  <div id="container">
    <ion-card>
    <ion-card-header>
      <img src="assets/images/security.png" style="height:100px">
      <ion-input placeholder="Entree Votre Password" type="password" id="user-input">

      </ion-input>
      <ion-button color="danger" expand="full" id="set-btn">
        <ion-icon name="key" slot="start">
         
        </ion-icon>
        <ion-label>
          Définir le mot de passe
        </ion-label>
      </ion-button>
      <ion-button color="success" expand="full" id="access-btn" style="display:none">
        <ion-icon name="key" slot="start">
         
        </ion-icon>
        <ion-label>
          Accéder
        </ion-label>
      </ion-button>
      <small id="password-empty-notice" style="color:red;display:none">Your password is empty</small>
      <small id="password-wrong" style="color:red;display:none">Your password is wrong</small>
    </ion-card-header>
    </ion-card>
  </div>
  <div id="salim" style="display:none">
    <ion-card  id="contact-form">
      <ion-card-header>
        <img src="assets/images/bg.jpg" style="display:block;margin-left:auto;margin-right:auto;width:100%;">
        <ion-grid>
          <ion-row>
            <ion-col id="img1">
              <img src="assets/images/cheeseburger.jpg" style="height:100px;">
            </ion-col>
            <ion-col id="img2">
              <img src="assets/images/chickenburger.jpg" style="height:100px;width:200px;">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col id="img3">
              <img src="assets/images/viandeburger.jpg" style="height:100px;">
            </ion-col>
            <ion-col id="img4">
              <img src="assets/images/familypack.jpg" style="height:100px;width:200px;">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col id="img5">
              <img src="assets/images/happymeal.png" style="height:100px;">
            </ion-col>
            <ion-col id="img6">
              <img src="assets/images/bbo.png" style="height:100px;width:200px;">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col id="img7">
              <img src="assets/images/tripple.jpg" style="height:100px;">
            </ion-col>
            <ion-col id="img8">
              <img src="assets/images/mcnuggets.jpeg" style="height:100px;width:200px;">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col id="img9">
              <img src="assets/images/mcwrap.png" style="height:100px;">
            </ion-col>
            <ion-col id="img10">
              <img src="assets/images/icecream.jpg" style="height:100px;width:200px;">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
    </ion-card>
    
    
  </div>
  

</ion-content>